black==24.3.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
idna==3.6
iniconfig==2.0.0
mwparserfromhell==0.6.6
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
pluggy==1.4.0
pytest==8.1.1
pytest-socket==0.7.0
requests==2.31.0
# Editable Git install with no remote (rs_lint==0.0.1)
-e /Users/roysmith/dev/rs-lint/src
urllib3==2.2.1
